DO $$BEGIN IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='profiles' AND column_name='is_public') THEN ALTER TABLE public.profiles ADD COLUMN is_public BOOLEAN DEFAULT false; END IF; END$$;
DO $$BEGIN IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='profiles' AND column_name='slug') THEN ALTER TABLE public.profiles ADD COLUMN slug TEXT UNIQUE; END IF; END$$;
